@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    color: #3C4858;
}

h5{
    font-family: 'Roboto', sans-serif;
    color: #80007E;
    font-size: 18px;
    padding: 0;
    margin: 0;
}

/*------tablas---------------*/
#table {
border-collapse: collapse;
width: 100%;
margin: 0;
font-family: 'Roboto', sans-serif;
color: #3C4858;
}

#table td, #table th {
border: 1px solid #ddd;
padding: 8px;
font-size: 6px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table th {
    text-align: center;
    background-color: #80007E;
    color: white;
}

.titulo{
    float: right;
    color: #80007E;
    text-align: right;
    padding: 0;
    margin: 0;
}