html,
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    height: 100vh;
    color: #3C4858 !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*--------------Login------------------*/


.body-content{
    background-image: url('../img/login_backgroud.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.content-items{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    margin-top: 100px;
}

.btns{
    background-color: #80007E;
    color: #ffffff;
    border-radius: 0 !important;
}

.btn{
    box-shadow: none !important;
}

.btns:hover {
    color: #ffffff !important;
    background-color: #5EAAA9 !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.login_style{
    background-color: #5EAAA9 !important;
    color: #ffffff !important;
    padding: 100px 50px !important;
    text-align: center;
    display: block;
}

.border-input{
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
}

.input_login{
    color: #ffffff !important;
    background-color: #5EAAA9 !important;
    border: 0 !important;
    width: 100%;
    font-size: 16px;
    outline: none;
    box-shadow: none;
}

.input_login::placeholder {
    color: #ffffff !important;
    font-size: 16px !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.input_login:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-login {
    background-color: #80007E;
    color: #ffffff;
    font-size: 30px !important;
    border-radius: 0 !important;
    border: none;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
  
.btn-login:hover {
    background-color: #ffffff;
    color: #80007E;
}

.btn-login:active {
    background-color: #80007E;
    color: #ffffff;
}

.log{
    position: relative;
}

.log-position{
    position: absolute;
    top: 220px;
}

/*--------------Navbar------------------*/
.bar-style{
    background-color: #5EAAA9;
    color: #ffffff;
    padding: 15px 0 !important;
    border-radius: 0 !important;
    text-align: center !important;
}

.btn-active{
    background-color: #80007E;
    color: #ffffff;
    border-radius: 0 !important;
    text-decoration: none !important;
    padding: 10px !important;
    width: 100%;
}

.btn-main {
    background-color: #5EAAA9;
    color: #ffffff;
    border-radius: 0 !important;
    text-decoration: none !important;
    padding: 10px !important;
    width: 100%;
}
  
.btn-main:hover {
    background-color: #80007E;
    color: #ffffff;
    padding: 10px !important;
    width: 100%;
}

.text-none{
    text-decoration: none !important;
}

/*--------table-------*/
.search_iput{
    border-bottom: 1px solid #3C4858 !important;
}

.input_search{
    box-shadow: none !important;
}

.card{
    -webkit-box-shadow: 2px 2px 7px 2px rgba(0,0,0,0.14); 
    box-shadow: 2px 2px 7px 2px rgba(0,0,0,0.14);
}

th{
    padding: 15px !important;
}

/*----------header color------------------*/
.header-verde{
    background-color: #5EAAA9;
}

.header-morado{
    background-color: #80007E;
    color: #ffffff;
}


@media only screen and (max-width: 1024px) {
    .body-content{
        height: 400px;
    }

    .content-items{
        flex-direction: column-reverse;
        text-align: center;
    }

    .login_style{
        display: inline-table;
    }

    .log-position {
        position: initial;
        top: 220px;
    }

    .mb-5{
        margin-bottom: 30px;
    }

    .log{
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 720px) {
    .content-items{
        height: auto;
        margin-top: 50px;
    }
}

div.errorform {
    background-color: #5EAAA9;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
}