RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

RewriteCond %{HTTP_REFERER} !^http://bwplusplazaflorida.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bwplusplazaflorida.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bwplusplazaflorida.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://bwplusplazaflorida.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://entretenimiento23.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://entretenimiento23.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://entretenimiento23.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://entretenimiento23.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://equilibriumsaludemocional.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://equilibriumsaludemocional.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://equilibriumsaludemocional.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://equilibriumsaludemocional.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://institutocolombres.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://institutocolombres.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://institutocolombres.edu.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://institutocolombres.edu.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://larue.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://larue.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://larue.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://larue.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nannies.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nannies.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nannies.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://nannies.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://niucatering.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://niucatering.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://niucatering.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://niucatering.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://securitysds.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://securitysds.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://securitysds.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://securitysds.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://turismosalomon.com.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://turismosalomon.com.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://turismosalomon.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://turismosalomon.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://urbinatti-irapuato.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://urbinatti-irapuato.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://urbinatti-irapuato.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://urbinatti-irapuato.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://verde-menta.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://verde-menta.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://verde-menta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://verde-menta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://villaluz.com.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://villaluz.com.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://villaluz.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://villaluz.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bwplusplazaflorida.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bwplusplazaflorida.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bwplusplazaflorida.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.bwplusplazaflorida.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.entretenimiento23.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.entretenimiento23.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.entretenimiento23.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.entretenimiento23.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.equilibriumsaludemocional.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.equilibriumsaludemocional.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.equilibriumsaludemocional.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.equilibriumsaludemocional.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.institutocolombres.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.institutocolombres.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.institutocolombres.edu.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.institutocolombres.edu.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.larue.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.larue.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.larue.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.larue.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nannies.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nannies.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nannies.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.nannies.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.niucatering.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.niucatering.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.niucatering.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.niucatering.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.securitysds.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.securitysds.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.securitysds.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.securitysds.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.turismosalomon.com.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.turismosalomon.com.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.turismosalomon.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.turismosalomon.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.urbinatti-irapuato.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.urbinatti-irapuato.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.verde-menta.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.verde-menta.connecta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.verde-menta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.verde-menta.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.villaluz.com.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.villaluz.com.mx$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.villaluz.connecta.mx/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.villaluz.connecta.mx$      [NC]
